.col-xs-3#sidebar{ :style => "background:white; max-height:100vh; overflow:auto; " }
	%h1 Welcome
	.row
		.col-xs-12
			.panel-group#accordion{ :role => "tablist", :aria => { :multiselectable => "true" } }
				.panel.panel-default
					.panel-heading#panel1{ :role => "tab" }
						%h4.panel-title 
							%a{ :data => { :toggle => 'collapse', :parent => "false"}, :aria => { :expanded => "true", :controls => "panel1" },  :href =>  "#panel1body" }
								Layer Group 1
					.panel-collapse.in.collapse#panel1body{ :role => "tabpanel" }
						.panel-body
							.checkbox
								%label
									%input{:type => 'checkbox' } Layer 1
							.checkbox
								%label
									%input{:type => 'checkbox' } Layer 2
				.panel.panel-default
					.panel-heading#panel2{ :role => "tab" }
						%h4.panel-title 
							%a{ :data => { :toggle => 'collapse', :parent => "false"}, :aria => { :expanded => "true", :controls => "panel1" },  :href =>  "#panel2body" }
								Layer Group 2
					.panel-collapse.collapse#panel2body{ :role => "tabpanel" }
						.panel-body
							.checkbox
								%label
									%input{:type => 'checkbox' } Layer A
							.checkbox
								%label
									%input{:type => 'checkbox' } Layer B
				#end-of-panel
				%br
				.button-group
					%button#new-layer.btn.btn-primary.btn-block + New Layer
.col-xs-1{ :style => "padding:5px;" }
	%button#toggle-sidebar.btn.btn-default <
