.col-xs-3#sidebar{ :style => "background:white;" }
	%h1 Welcome
	.row
		.col-xs-12
			.panel-group#accordion{ :role => "tablist", :aria => { :multiselectable => "true" } }
				.panel.panel-default
					.panel-heading#panel1{ :role => "tab" }
						%h4.panel-title 
							%a{ :data => { :toggle => 'collapse', :parent => "#accordion"}, :aria => { :expanded => "true", :controls => "panel1" },  :href =>  "#panel1body" }
								Layer 1
					.panel-collapse.in.collapse#panel1body{ :role => "tabpanel" }
						.panel-body
							Some Shit
				.panel.panel-default
					.panel-heading#panel2{ :role => "tab" }
						%h4.panel-title 
							%a{ :data => { :toggle => 'collapse', :parent => "#accordion"}, :aria => { :expanded => "true", :controls => "panel1" },  :href =>  "#panel2body" }
								Layer 2
					.panel-collapse.collapse#panel2body{ :role => "tabpanel" }
						.panel-body
							Some Shit
				%br
				.button-group
					%button.btn.btn-primary.btn-block New Panel
	.row
		.col-xs-12
			%form.form
				.form-group
					%label Color
					%select.form-control
						%option Color1
						%option Color2
						%option Color3
				.form-group
					%label Opacity
					#opacity-slider
.col-xs-1{ :style => "padding:5px;" }
	%button#toggle-sidebar.btn.btn-default <
